{% extends 'base.html' %}

{% block title %}
Страница
{% endblock %}

{% block body %}
<h1>Государственная Дума Российской Федерации</h1>
    <main class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='img/duma.jpg')}}" alt="">
            </div>
            <div class="col-md-6">
                <h2>О Государственной Думе</h2>
                <p>Государственная Дума — нижняя палата Федерального Собрания Российской Федерации, является постоянно действующим высшим представительным органом государственной власти.  Дума принимает федеральные законы, утверждает федеральный бюджет и осуществляет контроль за деятельностью Правительства. </p>
                <p>Более подробная информация о составе Думы, её полномочиях и деятельности доступна на официальном сайте.</p>
                <a href="https - FORBIDDEN - duma.gov.ru/" target="_blank" class="btn btn-primary">Официальный сайт Государственной Думы</a>
            </div>
        </div>
{% endblock %}